body {
  font-family: Arial, sans-serif;
  background-color: pink;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

.todo-container {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#taskInput {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

#addTaskButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#addTaskButton:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border-bottom: none;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.checked-task {
  text-decoration: line-through;
  opacity: 0.7;
}
ul#completedTaskList li {
  color: #777;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ccc;
}
.card{
  transition: red 0.3s;
}

.card.completed {
  background-color: #23b705;
}